*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Impact";
}

.header {
    position: fixed;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    top: 0;
    left: 0;
    z-index: 50;
    box-shadow: 0px 1px;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
}

.header_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header_menu {
    text-align: right;
}

.header_logo {
    flex: 0 0 60px;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.header_logo img {
    max-width: 100%;
    display: block;
}

.header_burger {
    display: none;
}

.header_list {
    margin-right: 10%;
    display: flex;
    position: relative;
    z-index: 2;
}

.header_list li {
    list-style: none;
    margin: 0px 0px 0px 30px;
}

.header_link {
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
    text-decoration: none;
}

@media (max-width: 1199px) {
    .header_list {
        display: block;
        text-align: right;
    }

    .header_list li {
        margin: 0 0 20px 0;
    }

    .header_body {
        height: 50px;
    }

    .header_burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }

    .header_logo {
        flex: 0 0 40px;
    }

    .header_burger span {
        position: absolute;
        background-color: black;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header_burger:before, .header_burger:after {
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header_burger:before {
        top: 0;
    }

    .header_burger:after {
        bottom: 0;
    }

    .header_burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header_burger.active span {
        transform: scale(0);
    }

    .header_burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header_menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }

    .header_menu.active {
        top: 0;
    }
}

@font-face {
font-family: "Impact";
src: url("../fonts/6890.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
} 